.button {
  margin: 0;
  height: 40px;
  padding: 0 16px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: inherit;
  border: none;
  transition: background-color 0.1s ease-in, color 0.1s ease-in;
  text-decoration: none;
  word-wrap: none;
  overflow-wrap: initial;
  -webkit-appearance: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
}

.primary {
  background-color: #341b15;
  color: #fff;
}

.primary:hover {
  background-color: #4a2921;
}

.secondary {
  background-color: transparent;
  border: none;
  color: #341b15;
}

.secondary:hover {
  background-color: #F4F1ED;
}

.tertiary {
  background-color: #F4F1ED;
  color: #D47721;
}

.white {
  background-color: #ffffff;
}

.white:hover {
  background-color: #f4f4f3;
}

.disabled {
  opacity: 0.2;
  cursor: none;
  pointer-events: none;
}

.disabled:hover {
  /*Keep styling*/
  opacity: 0.2;
  pointer-events: none;
}
