.button {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  outline: inherit;
  border: none;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  text-decoration: none;
  word-wrap: none;
  overflow-wrap: initial;
  border-radius: 6px;
  -webkit-appearance: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary {
  width: 100%;
  color: #ffffff;
  background-color: #1d1a0e;
}

.primary:hover {
  background-color: #282725;
}

.secondary {
  background-color: #f4f4f3;
}

.secondary:hover {
  filter: brightness(90%);
}

.white {
  background-color: #ffffff;
}

.white:hover {
  background-color: #f4f4f3;
}

.disabled {
  opacity: 0.2;
  cursor: none;
  pointer-events: none;
}

.disabled:hover {
  /*Keep styling*/
  opacity: 0.2;
  pointer-events: none;
}
