.wrapper {
  height: 100vh;
  display: flex;
}

.logo {
  box-sizing: border-box;
  padding: 0 32px;
}

.logo svg {
  width: 100px;
}

.sidebar {
  width: 240px;
  background-color: white;
  box-sizing: border-box;
  padding: 32px 0;
}

.profile {
  margin: 16px 0 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_picture {
  height: 80px;
  width: 80px;
  background-size: cover;
  border-radius: 100px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ae/Michael_Jordan_in_2014.jpg);
}

.name {
  font-size: 16px;
  font-weight: 400;
  margin: 16px 0 4px 0;
}

.sub_name {
  font-size: 12px;
  font-weight: 300;
}

.link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  padding: 16px 32px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: #acaba8;
}

.link:hover {
  background-color: #f8f7f5;
  transition: 0.2s ease-in-out;
}

.link svg {
  margin-bottom: 3px;
  margin-right: 12px;
  height: 18px;
  width: 18px;
}

.link svg path {
  fill: #acaba8;
}

.link_selected {
  color: #21262c;
}

.link_selected svg path {
  fill: #21262c;
}

.content {
  width: calc(100% - 240px);
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  padding: 85px 48px 32px 48px;
}

.back {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  cursor: pointer;
}
.back:hover {
  text-decoration: underline;
}

.back svg {
  height: 12px;
  margin-bottom: 2px;
  margin-right: 8px;
}

.top_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 32px;
}

.subheading {
  font-size: 16px;
  margin-top: 16px;
  font-weight: 300;
}

.section_content{
  box-sizing: border-box;
  margin-top: 48px;
  max-width: 700px;
}