.all_wrap {
  height: 100vh;
  display: flex;
}

.logo {
  box-sizing: border-box;
  padding: 0 32px;
}

.logo svg {
  width: 100px;
}

.content {
  width: 100%;
  max-width: 1378px;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  padding: 100px 48px 32px 48px;
}

.back {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  margin: 0 24px 16px 24px;
  align-items: center;
  cursor: pointer;
}
.back:hover {
  text-decoration: underline;
}

.back svg {
  height: 12px;
  margin-bottom: 2px;
  margin-right: 8px;
}

.top_row {
  display: flex;
  padding-bottom: 10px;
  align-items: center;
  margin: 0 24px;
  border-bottom: 1px solid #ede9e4;
  justify-content: space-between;
}

.heading {
  font-size: 32px;
}

.section_content {
  height: calc(100vh - 194px);
  overflow-y: scroll;
  overflow-x: visible;
  box-sizing: border-box;
  margin-top: 20px;
}
