.wrapper {
  padding: 0 24px;
  box-sizing: border-box;
}

.new_method_button {
  position: relative;
}

.button_options {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  display: none;
  position: absolute;
  top: 45px;
  width: 150%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 0;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.new_method_button:hover .button_options {
  display: block;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.new_method_button:hover button {
  opacity: 0.7;
}

.button_option {
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 14px;
  padding: 16px 16px 16px 16px;
  transition: 0.2s ease-in-out;
  justify-content: space-between;
}

.button_option svg {
  width: 14px;
  transform: translateY(-1px);
}

.button_option:hover {
  background-color: #f8f7f5;
  transition: 0.2s ease-in-out;
}

.method {
  margin-bottom: 16px;
  box-sizing: border-box;
  padding: 16px;
  max-width: 600px;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.method_left {
  display: flex;
  align-items: center;
}

.method_icon {
  width: 58px;
  height: 58px;
  border-radius: 8px;
  background-color: #f8f7f5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.method_title {
  font-size: 16px;
}

.method_subtitle {
  font-weight: 300;
  font-size: 14px;
  margin-top: 8px;
}

.edit_button {
  background-color: #f8f7f5;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px;
  cursor: pointer;
  color: #8133ff;
}

.edit_button:hover {
  background-color: #ebe8e2;
}

.subtitle {
  font-weight: 500;
  margin-bottom: 24px;
}
