.wrapper {
  padding: 0 24px;
  box-sizing: border-box;
}

.new_method_button {
  position: relative;
}

.button_options {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  display: none;
  position: absolute;
  top: 45px;
  width: 150%;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px 0;
}

.schwerpunkte {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
}
