.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}

.purple_background{
  background-color: #8133FF;
  position: absolute;
  right: 0;
  z-index: -1;
  bottom: 0;
  top: 0;
  width: 50%;
}

.logo{
  width: 100px;
  margin-bottom: 24px;
  margin-left: 32px;
}

.login_box {
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  width: 500px;
  box-sizing: border-box;
  padding: 64px;
  margin-bottom: 32px;
}

.login_box_header {
  font-size: 20px;
  font-weight: 500;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forgot_password{
  font-weight: 300;
  font-size: 14px;
  color: #8133FF;
  text-decoration: underline;
}

.disclaimer{
  font-size: 10px;
  font-weight: 300;
}